.navbar {
  position: fixed;
  /* position: relative; */
  z-index: 999;
  top: 0;
  width: 100%;
  height: 30px;
  padding: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* background-color: #111; */
  /* background-color: transparent; */
  /* NavBar.css */
  background-image: linear-gradient(180deg, #111, rgba(37, 37, 37, 0.01));
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.logo {
  position: fixed;
  left: 20px;
  width: 80px;
  /* margin-right: 20px; */
}

.avatar {
  position: fixed;
  right: 30px;
  width: 30px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  /* padding: 0; */
  padding-left: 120px;
}

.nav-item {
  margin-right: 25px;
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
  /* transition: font-weight 0.3s ease, border-color 0.3s ease;
  border-bottom: 2px solid transparent; */
}

.nav-item:hover {
  opacity: 1;
  color: beige;
}

.search-icon {
  margin-right: 110px;
  font-size: 18px;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
}

.search-icon i {
  transition: color 0.3s ease;
}

.search-icon i:hover {
  font-size: 19px;
  color: beige;
  opacity: 1;
}

/* ... nav toggle ... */

.nav-toggle {
  display: none;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.nav-toggle span {
  display: block;
  background-color: #fff;
  height: 5px;
  width: 30px;
  border-radius: 2px;
  opacity: 0.7;
  position: absolute;
  top: 35px;
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
}

.nav-toggle span:first-child {
  top: 42px;
}

.nav-toggle span:last-child {
  top: auto;
  bottom: -32px;
}

.nav-toggle.open span {
  background-color: transparent;
}

@media (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  .nav-toggle.open span {
    background-color: #fff;
  }

  .nav-toggle.open + .nav-list {
    display: block;
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    background-color: #111;
    opacity: 0.8;
    padding: 10px;
  }

  .nav-item {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
    cursor: pointer;
  }

}
