.row{
    margin-left: 10px;
    color: #fff;
}

.posters{
    display: flex;
    padding: 10px;
    padding-left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    cursor: pointer;
    max-width: 250px;
    margin-right: 10px;
}

.smallPoster{
    cursor: pointer;
    max-width: 150px;
    margin-right: 10px;
}

@media (max-width:468px) {
    .poster{
        cursor: pointer;
        max-width: 200px;
        margin-right: 10px;
    }
    
    .smallPoster{
        cursor: pointer;
        max-width: 100px;
        margin-right: 10px;
    }
}

.poster:hover,.smallPoster:hover{
    transform: scale(1.07);
    box-shadow: 0px 1px 9px rgba(255, 255, 255, 0.6);
}